<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderlust</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="public/css/style.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="public/js/jquery.mb.YTPlayer.min.js"></script>
</head>

<body>
        <div id="bgndVideo" class="player" 
        data-property="{videoURL:'http://youtu.be/Yh0TnDrsIu8',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1}"></div>
        <div class="index-logo"><img src="public/images/logo.png"></div>

        <div class="title-and-pay-off">
            <div class="title">
            </div>
            <div class="pay-off">
                <!--<br>
    <h3>"not all those who wander are lost"</h3>
    <p><i>-- J.R.R. Tolkien</i></p>-->
            </div>
        </div>
        <!--
    <div class="insta-logo"><img src="public/images/insta-logo.png" height="250" width="250"></div>-->
        <div class="pin-picture"><img src="public/images/pin-picture.png"></div>
        <div class="floating-panel-center">
            <h1>Welcome to Wanderlust!</h1>
    
            <h2>THE app that enables you to showcase your personal travel exploits on an interactive world map! It's plug 'n play! </h2>
            <h2>1. Just log in using your Instagram account and your geotagged photos will show automatically up on the map!</h2>
            <h2>2. Enjoy your personalized travel map, take a screenshot and share it with your friends!
            </h2>
            <a href="/authorize"><button>Click here to log in via Instagram</button></a>
        </div>
        <div class="map-picture"><img src="public/images/map-picture.png"></div>
        <div class="map-picture-back"><img src="public/images/map-picture.png"></div>
        <div class="index-footer">
            <p>© Wanderlust 2019</p>
        </div>
</body>

<script>
        jQuery(function () {
            /* Initialize the player */
            var myPlayer = jQuery(".player").YTPlayer();
        });
    </script>
    
</html>
