<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cosmo/bootstrap.min.css">
</head>

<body>
    <h1>Wanderlust</h1>
    <center>
        <a href="/authorize"><button>click me to log in</button></a>
    </center>


    <script src=""></script>
</body>

</html>
