<!DOCTYPE html>
<html>

<head>
    <!-- <link rel='stylesheet' href='public/css/style.css' type='text/css'> 
  </link>-->
    <style>
        #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

    </style>
</head>

<body>
    <div id="map"></div>
    <div id="places">
        <%=places%>
    </div>



    <script>
        let coords = document.getElementById("places").innerHTML;
        let parts = coords.split(",");
        console.log(parts)

        let finalResult = []
        while (parts.length) {
            let newArr = parts.splice(0, 3);
            finalResult.push(newArr);
        }
        console.log(finalResult);

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: {
                    lat: -33.9,
                    lng: 151.2
                }
            });

            // markerCluster
            var markerCluster = new MarkerClusterer(map, markers, {
                imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
            });

            setMarkers(map);
        }

        let markers = ""

        function setMarkers(map) {


            for (var i = 0; i < finalResult.length; i++) {
                var place = finalResult[i];

                var image = {
                    url: place[0],
                    scaledSize: new google.maps.Size(64, 64),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(32, 32)
                };

                var shape = {
                    coords: [1, 1, 1, 20, 18, 20, 18, 1],
                    type: 'poly'
                };

                var marker = new google.maps.Marker({
                    position: {
                        lat: parseInt(place[1]),
                        lng: parseInt(place[2])
                    },
                    map: map,
                    icon: image,
                    shape: shape
                });
            }
        }

    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-ZNLSg6yH-H4rbW7iPI1zT2hjhWUs_pI&callback=initMap">
    </script>
</body>

</html>
