<!DOCTYPE html>
<html>

<head>
  <link href="public/css/style.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="map"></div>
  <div id="places" style="display:none">
    <%=places%>
  </div>
  <div class="logo"><img src="public/images/logo.png" height="152" width="125"></div>
  <div class="floating-panel-left-top">
    <p> <b>Statistics</b><br>
      <img src="public/images/icons/world.png">Countries Visited: <b>0</b><br>KM travelled: <b>0</b><br>more more more!<br></p>
  </div>
  <div class="floating-panel-nav">
    <ul>
      <li>About</li>
      <li>Something else</li>
      <li><a href="/logout" img src="http://instagram.com/accounts/logout/">Log out</a></li>
      <li><img src="http://instagram.com/accounts/logout/" width="0" height="0" /></li>
    </ul>
  </div>
  <input class="fullscreen-button1" type="image" img src="/public/images/icons/full-screen-toggle.png" onclick="toggleFullScreen()" />
  <div class="footer">
    <p>© Wanderlust 2019</p>
  </div>
</body>


<script src="public/js/maps.js"></script>

<script src="public/js/markerclusterer.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-ZNLSg6yH-H4rbW7iPI1zT2hjhWUs_pI&callback=initMap">
</script>

<script>
  function toggleFullScreen() {
    if ((document.fullScreenElement && document.fullScreenElement !== null) ||
      (!document.mozFullScreen && !document.webkitIsFullScreen)) {
      if (document.documentElement.requestFullScreen) {
        document.documentElement.requestFullScreen();
      } else if (document.documentElement.mozRequestFullScreen) {
        document.documentElement.mozRequestFullScreen();
      } else if (document.documentElement.webkitRequestFullScreen) {
        document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
      }
    } else {
      if (document.cancelFullScreen) {
        document.cancelFullScreen();
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if (document.webkitCancelFullScreen) {
        document.webkitCancelFullScreen();
      }
    }
  }
</script>

</html>