<!DOCTYPE html>
<html>

<head>
    <style>
        #map {
        height: 100%;
        width: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    .logo {
      position: absolute;
      top: 1%;
      left: 2%;
      z-index: 5;
    }
        
    .floating-panel-nav{
      position: absolute;
      top: 5%;
      left: 10%;
      right: 10%;
      z-index: 4;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 1%;
      border: 1% solid rgb(233, 231, 231);
      border-radius: 7px;
        text-align: center;      
        font-family: 'Roboto','sans-serif';
      line-height: 2%;
      padding-left: 10px;
      margin-left: -52px;
    }
        
    .floating-panel-nav ul{
         display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        list-style: none;
    }
        
    .floating-panel-left-top {
      position: absolute;
      top: 25%;
      left: 5%;
      z-index: 5;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 1%;
      border: 1px solid rgb(233, 231, 231);
      border-radius: 7px;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      font-size: 1vw;
      line-height: 3vh;
      margin-left: -4%;
    }
        
    .footer{
      position: absolute;
      bottom: 0%;
      left: 0%;
      right: 0%;
      z-index: 4;
      background-color: rgba(255, 255, 255, 0.3);
      text-align: center;
      font-family: 'Roboto','sans-serif';
      font-weight: bold;
      font-size: 1vw;
      color: black;
      line-height: 1vw;
    }
    .fullscreen-button {
      /* all: unset; */
      position: absolute;
      bottom: 4%;
      left: 85%;
      right: 0%;
      z-index: 5;
      border: none;
    }
    .fullscreen-button1 {
      /* all: unset; */
      position: absolute;
      bottom: 6%;
      left: 95%;
      right: 0%;
      z-index: 5;
      border: none;
    }
    </style>

</head>

<body>
    <div id="map"></div>
    <div id="places" style="display:none">
        <%=places%>
    </div>
    <div class="logo"><img src="public/images/logo.png" height="152" width="125"></div>
    <div class="floating-panel-left-top">
        <p> <b>Statistics</b><br>
            <img src="public/images/icons/world.png">Countries Visited: <b>0</b><br>KM travelled: <b>0</b><br>more more more!<br></p>
    </div>
    <div class="floating-panel-nav">
        <ul>
            <li>About</li>
            <li>Something else</li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>
    <input class="fullscreen-button" type="button" value="Toggle Fullscreen" onclick="toggleFullScreen()">
    <form onsubmit="toggleFullscreen()">
    <input class="fullscreen-button1" type="image" src="public/images/icons/full-screen-toggle.png" onclick="toggleFullscreen()"></form>
    <div class="footer">
        <p>© Wanderlust 2019</p>
    </div>
</body>

<script>
    let coords = document.getElementById("places").innerHTML;
    let parts = coords.split(",");
    let finalResult = []
    while (parts.length) {
        let newArr = parts.splice(0, 4);
        finalResult.push(newArr);
    };

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            maxZoom: 12,
            minZoom: 3,
            center: {
                lat: 47.522278,
                lng: 21.077278
            },
            disableDefaultUI: true,
            styles: [{
                    "featureType": "landscape.natural.terrain",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#d7d7d7"
                    }]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [{
                            "color": "#ffffff"
                        },
                        {
                            "weight": 1
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "featureType": "road.arterial",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "featureType": "road.local",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "off"
                    }]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#8e9fb9"
                    }]
                }
            ]
        });
        setMarkers(map);
    }
    let markers = ""

    function setMarkers(map) {
        var markerCluster = new MarkerClusterer(map, [], {
            imagePath: 'public/images/cluster/p',
            maxZoom: '10',
            zoomOnClick: 'true'
        });

        finalResult.forEach((place) => {
            var image = {
                url: place[0],
                scaledSize: new google.maps.Size(64, 64),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(32, 32)
            };
            var shape = {
                coords: [1, 1, 1, 20, 18, 20, 18, 1],
                type: 'poly'
            };
            var myLatlng = new google.maps.LatLng(place[1], place[2]);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                icon: image,
                shape: shape,
                animation: google.maps.Animation.DROP
            });
            markerCluster.addMarker(marker);

            var contentString = `<div id="content">
        <img height="300px" src='${place[3]}'
      </div>`;

            var infowindow = new google.maps.InfoWindow({
                content: contentString,
                maxWidth: 300
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        })
    }

    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }

</script>
<script src="public/js/markerclusterer.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-ZNLSg6yH-H4rbW7iPI1zT2hjhWUs_pI&callback=initMap">
</script>
<script>
    function toggleFullScreen() {
        if ((document.fullScreenElement && document.fullScreenElement !== null) ||
            (!document.mozFullScreen && !document.webkitIsFullScreen)) {
            if (document.documentElement.requestFullScreen) {
                document.documentElement.requestFullScreen();
            } else if (document.documentElement.mozRequestFullScreen) {
                document.documentElement.mozRequestFullScreen();
            } else if (document.documentElement.webkitRequestFullScreen) {
                document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        } else {
            if (document.cancelFullScreen) {
                document.cancelFullScreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            }
        }
    }

</script>

</html>
