/*GLOBAL CSS*/
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    font-family: 'Roboto', 'sans-serif';
    overflow: hidden;
}

/*CSS FOR INDEX.EJS*/
.index-logo {
    position: absolute;
    top: 4%;
    left: 2%;
    z-index: 0;
}

.index-logo img {
    width: 250px;
    height: auto;
}

.title-and-pay-off {
    text-align: center;
    margin: 0 auto;
    color: white;
}

.title {
    font-family: ;
}

/*.insta-logo {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 20%;
    right: 10%;
}*/
.pin-picture {
    position: fixed;
    bottom: 0%;
    left: 52%;
    z-index: 5;
}

.floating-panel-center {
    position: fixed;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
    width: 40%;
    height: 40%;
    min-width: 300px;
    margin: 0 auto;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1%;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 7px;
    text-align: center;
    font-size: 1vw;
    line-height: 3vh;
    color: black;
    font-family: arial;
}

.floating-panel-center button {
    background-color: #009999;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.floating-panel-center button:hover {
    background-color: #008080;
    color: white;
    cursor: pointer;
}

.map-picture {
    position: relative;
    left: 20%;
    right: 0%;
    top: 40%;
    bottom: 0;
    margin: 0 auto;
    z-index: 1;
    transform: rotate(-16deg);
    border: solid;
    border-width: 15px;
    border-color: white;
}

.map-picture-back {
    position: absolute;
    left: 20%;
    right: 0%;
    top: 40%;
    bottom: 0;
    margin: 0 auto;
    z-index: 0;
    transform: rotate(-13deg);
    border: solid;
    border-width: 15px;
    border-color: white;
}

.index-footer {
    position: absolute;
    bottom: 0%;
    left: 1%;
    right: 0%;
    z-index: 4;
    text-align: left;
    font-weight: bold;
    font-size: 1vw;
    color: white;
    line-height: 1vw;
}

/*CSS FOR PROFILE.EJS*/
#map {
    height: 100%;
    width: 100%;
}

.logo {
    position: absolute;
    top: -9%;
    left: -2%;
    z-index: 5;
}

.floating-panel-nav {
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1%;
    border: 1% solid rgb(233, 231, 231);
    border-radius: 7px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 2%;
    padding-left: 10px;
    margin-left: -52px;
}

.floating-panel-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.floating-panel-left-top {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1%;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 7px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1vw;
    line-height: 3vh;
    margin-left: -4%;
}

.footer {
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 1vw;
    color: black;
    line-height: 1vw;
}

.fullscreen-button {
    position: absolute;
    bottom: 4%;
    left: 85%;
    right: 0%;
    z-index: 5;
    border: none;
}

.fullscreen-button1 {
    /* all: unset; */
    position: absolute;
    bottom: 6%;
    left: 95%;
    right: 0%;
    z-index: 5;
    border: none;
}

.logoutButton {
    position: absolute;
    top: 5%;
    left: 95%;
}

.logoutButtonIcon {
    width: 32px;
    height: 32px;
}
